<div class="navbar-wagon">
  <!-- Logo -->
  <div class="navbar-wagon-brand">
    <%= link_to "All Restaurants", restaurants_path %>
  </div>

  <div class="navbar-wagon-brand">
    <%= link_to "Make a New Restaurant", new_restaurant_path %>
  </div>

</div>
